
.typewriter xmp {
  position: absolute;
  padding-top:58px;
  padding-left:38px;
  float:left;
  display: flex;
  color:#FFD91D;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 9; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  -webkit-animation: 
  typing 3.5s steps(20, end),
  blink-caret .5s step-end infinite;
  animation: 
  typing 3.5s steps(20, end),
  blink-caret .5s step-end infinite;
}

/* The typing effect */
@-webkit-keyframes typing {
  from { width: 0 }
  to { width: 10% ;height: 5%}
}
@keyframes typing {
  from { width: 0 }
  to { width: 10%;height: 5%}
}


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
